<div class='footer'>
  <div class='footer-contents'>
    <div class='sakenokokoro-details'>
      <h2 class='footer-content-head'>SAKEnoKOKOROについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'SAKEnoKOKORO利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='sakenokokoro-details'>
      <h2 class='footer-content-head'>商品を探す</h2>
      <ul>
        <li><%= link_to '酒米から探す', "#", class: "footer-link" %></li>
        <li><%= link_to '味から探す', "#", class: "footer-link" %></li>
        <li><%= link_to '酒蔵から探す', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='sakenokokoro-details'>
      <h2 class='footer-content-head'>SAKEnoKOKOROご利用案内</h2>
      <ul>
        <li><%= link_to 'ご利用ガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'お問い合わせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("company-logo-white.png", class:"logo-white"), root_path %>
  <p>© SAKEnoKOKORO</p>
</div>