<%= render "shared/header" %>
<div class="breadcrumb">
  <% breadcrumb :items %>
  <p><%= breadcrumbs separator: " &rsaquo; " %></p>
</div>

<div class='item-title-contents'>
  <h1 class='menu-title'>
    商品一覧
  </h1>
  <div class="add-item">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to '商品を追加する', new_admin_item_path, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="items-list">
  <% @items.each do |item| %> 
    <li class='list'>
      <%#= link_to "#" do %>
      <%# <div class='item-img-content'>
        <%= image_tag item.image, class: "item-img" %>
        
        <%# <% if item.order != nil %>
          <%#<div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
        <% end %>

      <%# </div> %>
      <div class='item-column'>
        <%= link_to item_path(item.id) do %>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
        <% end %>
        <p class="item-info">
          <%= item.info %>
        </p>
        <div class='item-price'>
          <span>価格：<%= item.price %>円（税込）<br></span>
          <div class='heartr-btn'>
            <i class="far fa-heart"></i>
            <span class='heart-count'>0</span>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</div>

<%= paginate @items %>

<%= render "shared/footer" %>