<%= render "shared/header" %>
<div class="breadcrumb">
  <% breadcrumb :item_show %>
  <p><%= breadcrumbs separator: " &rsaquo; " %></p>
</div>

<%= flash_message(flash[:success], :success) if flash[:success] %>
<%= flash_message(flash[:error], :danger) if flash[:error] %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <%# ログインユーザーが管理者の場合に表示 %>
    <div class="row">
      <div class="d-grid gap-2 d-md-block">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
          <%= link_to '編集する', edit_admin_item_path, class: "btn btn-primary btn-lg" %>
          <%= link_to '削除する', admin_item_path, method: :delete, title:"削除の確認", data:
              { confirm: "#{@item.name}を削除してもよろしいですか？",
                cancel: "キャンセル",
                commit: "削除する"}, class: "btn btn-danger btn-lg" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%# //ログインユーザーが管理者の場合に表示 %>

    <%# 商品が売切の場合表示 %>
    <% if @item.order != nil %>
      <div class="alert alert-secondary sold-out" role="alert">
        <span class="sold-out-title">入荷待ち</span>
      </div>
    <% end %>
    <%# //商品が売切の場合表示 %>

    <div class="item-top">
      <div class="item-left">
        <div class='item-img-content'>
          <%= image_tag @item.image ,class:"item-box-img" %>
        </div>
      </div>
      <div class="item-right">
        <h2 class="name">
          <%= @item.name %>
        </h2>
        <div class="item-price-box">
          <span class="item-price-name">価格：</span>
          <span class="item-price">
            <%= "¥#{@item.price}" %>
          </span>
          <span>（税込）</span>
        </div>
        <div class="option">
          <% if @item.order == nil %>
            <%= link_to '購入する', item_orders_path(@item.id) ,class:"item-grey-btn"%>
          <% end %>
          <div class="favorite-btn">
            <%= image_tag "heart.png" ,class:"favorite-heart-icon" ,width:"20",height:"20"%>
            <span>お気に入り 0</span>
          </div>
        </div>
        <div class="item-explain-box">
          <h4 class="item-explain">商品説明</h4>
          <p><%= @item.info %></p>
        </div>
      </div>
    </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">容量</th>
          <td class="detail-value"><%= @item.size %></td>
        </tr>
        <tr>
          <th class="detail-item">度数</th>
          <td class="detail-value"><%= @item.alcohol_degree %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">酒米</th>
          <td class="detail-value"><%= @item.rice.name %></td>
        </tr>
        <tr>
          <th class="detail-item">貯蔵法・絞り方</th>
          <td class="detail-value"><%= @item.storage_method.name %></td>
        </tr>
        <tr>
          <th class="detail-item">蔵元</th>
          <td class="detail-value"><%= @item.kuramoto.name %></td>
        </tr>
        <tr>
          <th class="detail-item">蔵元所在地</th>
          <td class="detail-value"><%= @item.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送方法</th>
          <td class="detail-value">この商品は<%= @item.delivery_method %>でお届けします</td>
        </tr>
      </tbody>
    </table>
  </div>
  <%# //商品の概要 %>

  <%# レビュー %>
  <div class="review-box">
    <h2 class="review-title">
      この商品のレビュー
    </h2>
    <%# ユーザーがログインしている場合、「レビューを投稿する」ボタンを表示する %>
    <% if user_signed_in? %>
      <%= link_to "レビューを投稿する", new_item_review_path(@item.id), class:"btn btn-secondary" %>
    <% end %>
    <%# レビューが一つ以上ある場合、以下を表示 %>
    <% if @reviews.present? %>
    <div class="review-info">
      <p>※味の評価について：-5から+5の11段階で評価。マイナスほど辛口になり、プラスになると甘口。</p>
      <p>※香りの評価について：-5から+5の11段階で評価。マイナスほど香りが弱く、プラスになると香り高い。</p>
    </div>
      <%# レビューを表示 %>
      <% @reviews.each do |review| %>
        <div class="review-main">
          <div class="review-item">
            <div class='review-left'>
              <%= link_to review.user.nickname, "#" %>
              <span class="created-date">＜投稿日時：<%= review.created_at.strftime('%Y/%m/%d %H:%M:%S') %>＞</span>
              <p>おすすめ度：<%= review.recommend_score %>点</p>
              <p>味：<%= review.taste %></p>
              <p>香り：<%= review.scent %></p>
              <p>おすすめのおつまみ：<%= review.otsumami %></p>
              <p><%= review.comment %></p>
            </div>
            <div class='review-right'>
              <%= scatter_chart Review.where(id: review.id).pluck(:taste, :scent),
                  id: 'taste-chart',
                  width: '250px',
                  height: '250px',
                  xmin: -5,
                  xmax: 5,
                  min: 5,
                  max: -5,
                  stepSize: 1,
                  colors: ["#b00", "#666"],
                  xtitle: "味", ytitle: "香り" %>
            </div>
          </div>
          <%# 自分の投稿のみ編集・削除ができる %>
          <div class="user-menu">
            <% if user_signed_in? && review.user_id == current_user.id %>
              <%= link_to "編集する", edit_item_review_path(@item.id, review.id), class:"btn btn-secondary btn-sm" %>
              <%= link_to "削除する", item_review_path(@item.id, review.id), method: :delete, title:"削除の確認", data:
                  { confirm: "このレビューを削除してもよろしいですか？",
                  cancel: "キャンセル", commit: "削除する"}, class:"btn btn-danger btn-sm" %>
            <% end %>
          </div>
          <%# //自分の投稿のみ編集・削除ができる %>
        </div>
      <% end %>
      <%# //レビュー表示 %>
    <%# レビューが存在しない場合、以下を表示 %>
    <% else %>
      <div class="no-review">
        <p>この商品のレビューはまだありません。最初のレビューを投稿してみましょう！</p>
        <p class="caution">
          ※レビューの投稿には<%= link_to "ログイン", new_user_session_path %>、
          または<%= link_to "会員登録", new_user_registration_path %>が必要です。
        </p>
      </div>
    <% end %>
  </div>
  <%# //レビュー %>

</div>

<%= render "shared/footer" %>